@import url('https://fonts.googleapis.com/css?family=Lato|Audiowide|Droid Sans');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;


    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

}

a,
a:hover {
    color: aqua;
}

p {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Audiowide";
    font-weight: 300;
    color: #333;
}

.bg-dark {
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

h1 {
    margin-top: 30vh;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#headerwrap {
    text-align: center;
    position: relative;
    width: 100%;
}

.centered {
    text-align: center;
}

.row {
    margin: 0;
}

.black_bg {
    background-color: #070707;
}

.beige_bg {
    background-color: #fff5e3;
}

.white_bg {
    background-color: #fffcf7;
}

.main_center {
    width: 76%;
    padding: 25px 0;
    margin: 0 auto;
}

.double_block {
    display: flex;
    margin: 30px 0;
}

.body_bg {
    min-height: 500px;
    width: 100%;
}

.text_left {
    margin-right: 130px;
    width: 76%;
    padding: 25px 0;
}

.text_center {
}

.text_right {
    margin-left: 130px;
    width: 76%;
    padding: 25px 0;
}

.img_left {
    margin: auto 0;
}

.img_left > img {
    transition: 1.5s;
    width: 320px;
}

.img_left > img:hover {
    transform: scale(1.10);
}

.img_right {
    margin: auto 0;
}

.img_right > img {
    transition: 1.5s;
    width: 320px;
}

.img_right > img:hover {
    transform: scale(1.10);
}

.black_bg h2 {
    color: white;
}

.black_bg h3 {
    color: white;
}

.white_bg a {
    color: orange;
}

.beige_bg a {
    color: orange;
}

.body_bg p, .body_bg ul {
    color: #88888a;
    font-family: Arial;
    margin-top: 25px;
    color: #88888a;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}

.text_border {
    border-bottom: 4px solid #ffdb7a;
    margin-top: 20px;
    margin-bottom: 100px;
}

.footer {
    position: relative;
    bottom: 0;
    background-color: #2d2d2d;
    border-color: #2d2d2d;
    min-height: 70px;
    padding: 15px;
    color: #FFF;
    margin-top: -1px;
}

.references-colomn {
    font-size: 14px;
    padding: 5px;
}

#scroll-top {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    right: 3%;
    bottom: 30px;
    z-index: 10000;
    color: #007bff;
}

/*NN3*/
#canv {
    position: fixed;
    top: 170px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
}

.buttonCVB {
    position: absolute;
    left: 0;
    margin-left: 50px;
    background-color: white;
}

.CVB,
.numbers {
    width: 200px;
    margin-bottom: 6px;
}

.buttonnumbers {
    position: absolute;
    right: 0;
    margin-right: 50px;
    background-color: white;
}

.buttonnumbers.off {
    display: none;
}

.braintext {
    margin-left: 12%;
    margin-right: 12%;
}
.braintext > p {
    font-family: Arial;
    margin-top: 10px;
    color: #88888a;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}

.bg_main2 a.btn-primary {
    color: #fff;
}

@media screen and (max-width: 715px) {
    .CVB,
    .numbers {
        position: relative;
        width: auto;
        top: 20px;
    }
}

.nn1 {
    margin: 0;
    width: 100%;
    height: 725px;
    overflow-y: hidden;
}
.nn2 {
    margin: 0;
    width: 100%;
    height: 341px;
    overflow-y: hidden;
}
.nn3 {
    margin: 0;
    width: 100%;
    height: 765px;
    overflow-y: hidden;
}
.nn4 {
    margin: 0;
    width: 100%;
    height: 1000px;
    overflow-y: hidden;
}
